body {
    background-image: url("../images/bg_full.png");
    background-color: #0f1925;
    background-position: 0px 0px;
    background-repeat: no-repeat;
    margin: 0;
    font-family: "MyriadPro-Regular";
    font-size: 20px;
    color: #c6c3cc;
    position: relative;
    overflow: hidden;
}

#loader_bg {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgb(255, 255, 255);
    z-index: 9999;
}

.loader_box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 150px;
    height: 70px;
}

.loader_name {
    font-size: 36px;
    position: absolute;
    top: 0px;
    left: 13px;
}

.preloader_box {
    position: absolute;
    left: 60px;
    bottom: 0px;
}

.loading {
    font-size: 13px;
    position: absolute;
    bottom: 7px;
    left: 50%;
    transform: translate(-50%, 0);
}

#preloader {
    width: 20px;
    height: 24px;
    background-color: rgb(198, 195, 204);
    border-radius: 50%;
    box-shadow: 23px 0px 0px 0px rgb(198, 195, 204);
    position: relative;
    margin: 36px 26px;
}

#preloader:after {
    background-color: #353535;
    width: 12px;
    height: 12px;
    box-shadow: 23px 0px 0px 0px #353535;
    border-radius: 55%;
    left: 9px;
    top: 12px;
    position: absolute;
    content: "";
    -webkit-animation: preloader_eyes 1s cubic-bezier(1, -0.2, 0.04, 1.22) infinite alternate;
    -moz-animation: preloader_eyes 1s cubic-bezier(1, -0.2, 0.04, 1.22) infinite alternate;
    animation: preloader_eyes 1s cubic-bezier(1, -0.2, 0.04, 1.22) infinite alternate;
}

@-webkit-keyframes preloader_eyes {
    0% {
        left: 9px;
    }
    100% {
        left: 1px;
    }
}

@-moz-keyframes preloader_eyes {
    0% {
        left: 9px;
    }
    100% {
        left: 1px;
    }
}

@keyframes preloader_eyes {
    0% {
        left: 9px;
    }
    100% {
        left: 1px;
    }
}

.header {
    position: relative;
}

#burger {
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: rgba(15, 25, 37, 0.39);
    width: 50px;
    height: 40px;
    border-radius: 6px;
    box-shadow: 1px 1px 4px 1px rgb(15, 25, 37);
    z-index: 99;
}

#burger>div {
    background-color: #969696;
    width: 36px;
    height: 2px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}

#burger_line_1 {
    top: 25%;
}

#burger_line_2 {
    top: 50%;
}

#burger_line_3 {
    top: 75%;
}

#navigation {
    display: none;
    position: fixed;
    top: 15px;
    right: -49px;
}

.menu {
    width: 420px;
    height: 20px;
    font-size: 18px;
}

.menu li {
    display: inline-block;
    margin-right: 12px;
}

.menu .down {
    position: absolute;
    display: none;
    margin-left: 120px;
    margin-top: 0px;
    list-style: none;
}

#menu_business {
    margin-top: : 0px;
}

#menu_hobby {
    margin-top: 24px;
}

#menu_labs {
    margin-top: 45px;
}

.menu .down li {}

h1 {
    margin-bottom: 0;
}

#skills, #projects, #business, #hobby, #labs, #contact {
    display: none;
}

#my_text_read {
    display: none;
}

#my_text_write, #my_text_read {
    position: absolute;
    font-size: 17px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 74%;
    max-width: 640px;
    height: 180px;
}

.center_page {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hidden {
    visibility: hidden;
}

#smoothly-show {
    opacity: 0;
}

@media (max-width: 600px) {}

@media (min-width: 600px) {}

@media (min-width: 768px) {}

@media (min-width: 992px) {}

@media (min-width: 1200px) {}
