body {
    background-image: url("../images/bg_full.png");
    background-color: #0f1925;
    background-position: 0px 0px;
    background-repeat: no-repeat;
    margin: 0;
    font-family: "MyriadPro-Regular";
    font-size: 20px;
    color: #c6c3cc;
    position: relative;
    overflow: hidden;
}

h1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#smoothly-show {
    opacity: 0;
}

.about--typed {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.about--typed p {
    margin-top: 0;
    margin-bottom: 0;
}

.about--typed p:last-child {
    margin-top: 10px;
}

.about--typed h1 {
    transform: scale(1.00);
    transition: opacity 289ms cubic-bezier(0.694, 0, 0.335, 1), transform 700ms cubic-bezier(0.694, 0, 0.335, 1);
    margin-top: 0;
    margin-bottom: 6px;
}

.about--typed h1:hover {
    transform: scale(1.05);
    transition: opacity 289ms cubic-bezier(0.694, 0, 0.335, 1), transform 700ms cubic-bezier(0.694, 0, 0.335, 1);
}

.flyingSquare {
    position: absolute;
    top: -1000px;
    left: -1000px;
}

@media (max-width: 600px) {
    .about--typed {
        width: 300px;
        height: 200px;
    }
    .about--typed p {
        font-size: 80%;
    }
    .about--typed h1 {
        font-size: 150%;
    }
}

@media (min-width: 600px) {
    .about--typed {
        width: 520px;
        height: 160px;
    }
    .about--typed p {
        font-size: 80%;
    }
    .about--typed h1 {
        font-size: 175%;
    }
}

@media (min-width: 768px) {
    .about--typed {
        width: 710px;
        height: 150px;
    }
    .about--typed p {
        font-size: 85%;
    }
    .about--typed h1 {
        font-size: 170%;
    }
}

@media (min-width: 992px) {
    .about--typed {
        width: 760px;
        height: 150px;
    }
    .about--typed p {
        font-size: 95%;
    }
    .about--typed h1 {
        font-size: 180%;
    }
}

@media (min-width: 1200px) {
    .about--typed {
        width: 760px;
        height: 160px;
    }
    .about--typed p {
        font-size: 100%;
    }
    .about--typed h1 {
        font-size: 190%;
    }
}
